<h2>Join a Team</h2>

<h4>Please input your code here:</h4>
<form action="/join" method="post">
  <input id="code" type="text" name="code">
  <button type="submit" class="btn btn-primary">Join Team</button>
</form>