
<div class="m-auto text-center">
  <h1>Welcome to Hockey Season Manager!</h1>

  <h3>Please <a href='/login'>Log In</a> or <a href='/signup'>Sign Up</a></h3>
</div>

<link rel="stylesheet" href="/css/prelogin.css">